/* home */

/* Mobile */
@media (min-width:320px) and (max-width:480px) {
  body {
    font-size: 14px;
  }
  img {
    width: 480px;
  }
}

/* Ipad and Tablet */
@media (min-width:481px) and (max-width:768px) {
  body {
    font-size: 14px;
  }
  img {
    width: 768px;
  }
}
/* Small Screen and Laptops */
@media (min-width:769px) and (max-width:1024px) {
  body {
    font-size: 14px;
  }
  img {
    width: 1024px;
  }
}
/* Desktops and Large Screens */
@media (min-width:1025px) and (max-width:1200px) {
  body {
    font-size: 14px;
  }
  img {
    width: 1200px;
  }
}